<%= link_to new_password_path(resource_name), class: "btn btn-primary" do %> Previous Page <% end %>


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="main-body">
<h2 class="main-h">Resend confirmation instructions</h2>
  <div class="form">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<%= render "devise/shared/links" %>
  </div>
<% end %>

