<% if user_signed_in? %>

<div class="nav">
    <%= image_tag("coin.png", alt: 'Coin', class: "menu-ico") %>

<div class="link-btn">
<%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false, action: 'click->toggle#menu' } %>
<%= link_to 'Home', root_path, method: :get %>

<% if can? :manage, Group %>
<%= link_to 'New Group', new_group_path, method: :get %>
<% end %>

<% if can? :manage, Operation %>
<%= link_to 'New Operation', new_operation_path, method: :get %>
<% end %>

</div>

<%= image_tag("coin.png", alt: 'Coin', class: "menu-ico") %>

</div>
<% end %>