<% if can? :read, Operation %>  
  
<div class="">
<div class="">
      <%= link_to root_path do %> < Back <% end %>

      <h1 class="">
      <%= @group.name %>
      </h1>

      <div>
      Total: $ <%= @group.total %>
      </div>
</div>

<div class="" id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
  <% end %>
  
  
  <% if @operations.empty? %>
      <%= render "helper/nothing", message: 'operation' %>
    <% end %>


</div>
  <% if  can? :manage, Operation %>
    <div>
      <%= link_to "Add New", new_operation_path %>
    </div>
    <% end %>
</div>
    <% end %>