<% if can? :read, Operation %>  
      <%= link_to root_path, class: "btn btn-primary" do %> Previous Page <% end %>
  
<div class="main-body">
<div>

      <h2 class="main-h2">
      <%= @group.name %>
      </h2>

      <div class="total">
      Total: 
      <strong>
      $<%= @group.total %>
      </strong>
      </div>
</div>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
  <% end %>
  
  
  <% if @operations.empty? %>
      <%= render "helper/nothing", message: 'operation' %>
    <% end %>


</div>
  <% if  can? :manage, Operation %>
    <% end %>
</div>
    <div class="button-view">
      <%= link_to "Add New", new_operation_path, class: "button-new" %>
    </div>
    <% end %>